# This shows what variables need to be set in the .env
# This .env.template is in git, while the .env itself is not.

PAPRIKA_USERNAME=your_email@example.com
PAPRIKA_PASSWORD=your_paprika_password

OAUTH_ISSUER_URL=https://mcp.<domain>.com
OAUTH_PATH_PREFIX=movie
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH_ALLOWED_EMAILS=<your email>